{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>vodreview.me - Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'note_taker/main.css' %}">
</head>
<body>

	<nav>
		<ul>
			<li><a href="{% url 'note-taker-notebook-list' %}">vodreview.me</a></li>
			<li><a href="{% url 'note-taker-notebook-list' %}">My Notebooks</a></li>
			<li><a href="{% url 'notebook-new' %}">New Notebook</a></li>
		</ul>
	</nav>

	<main>
	{% block content %}{% endblock %}
	</main>

</body>
</html>