{% extends "note_taker/base.html" %}
{% block content%}

	<h1 class="notebooktitle">{{ notebook.title }}</h1>
	<div class="vidcontainer">
		<iframe id="your-iframe" 
			width="560" 
			height="315" 
			frameborder="0"
			style="border: solid 4px #37474F"
			src="https://www.youtube.com/embed/{{ notebook.youtube_id }}?enablejsapi=1" 
			title="YouTube video player" 
			frameborder="0" 
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" 
			allowfullscreen>
		</iframe>
	</div>

	<div class="vidinfo">
		<p>{{ notebook.author }} | {{ notebook.description }} | {{ notebook.privacy }}</p>
	</div>

	<div>
		<button id="new-note-btn" onclick="newNote();">New note at ...</button>
	</div>
	
	{% load crispy_forms_tags %}
	<form action="" method="post">
		{% csrf_token %}
		<!--{{ form|crispy }} -->
			
		<label for="{{ form.timestamp.id_for_label }}">Timestamp:</label>
		<input type="text" name="timestamp" maxlength="100" class="textinput textInput form-control" required id="id_timestamp">

		<label for="{{ form.content.id_for_label }}">Content:</label>
		<textarea name="content" cols="40" rows="1" class="textarea form-control" required id="id_content"></textarea>


		<label for="id_notebook" class=" requiredField">Notebook<span class="asteriskField">*</span></label>  
		<select name="notebook" class="select form-control" required id="id_notebook"> 
			<option value="" selected=""> ------ </option> 
			<option value="1">{{ notebook.title }}</option> 
		</select>

		<input type="submit" value="Done">
	</form>
	
	{% for note in notes %}
		<div class="notecontainer">
			<div style="display: inline;">
				<p style="color: magenta;">{{ note.timestamp }} -- {{ note.content }}</p>
			</div>
			<div>
				<p>Username</p>
			</div>
		</div>
	{% endfor %}

	<script type="text/javascript">
	  var tag = document.createElement('script');
	  tag.id = 'iframe-demo';
	  tag.src = 'https://www.youtube.com/iframe_api';
	  var firstScriptTag = document.getElementsByTagName('script')[0];
	  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	  var player;
	  function onYouTubeIframeAPIReady() {
	    player = new YT.Player('your-iframe', {
	        events: {
	          'onReady': onPlayerReady,
	          'onStateChange': onPlayerStateChange
	        }
	    });
	  }

	  function getVideoTime() {
	  	var raw_time = player.getCurrentTime();
	  	time_hour = parseInt(raw_time / 3600);
	  	time_min = parseInt((raw_time % 3600) / 60);
	  	time_sec = parseInt((raw_time % 3600) % 60);

	  	var time_string;
	  	var zero_colon_hour;
	  	var zero_colon_min;
	  	var zero_colon_sec;

	  	if (time_hour >= 10) {
	  		zero_colon_hour = "";
	  	} else {
	  		zero_colon_hour = "0";
	  	}

	  	if (time_min >= 10) {
	  		zero_colon_min = ":";
	  	} else {
	  		zero_colon_min = ":0";
	  	}

	  	if (time_sec >= 10) {
	  		zero_colon_sec = ":";
	  	} else {
	  		zero_colon_sec = ":0";
	  	}

	  	time_string = zero_colon_hour + time_hour + zero_colon_min + time_min + zero_colon_sec + time_sec;
	  	return time_string;
	  }
	  
	  function newNote() {
	  	player.pauseVideo();
	  	document.getElementById('id_timestamp').value = getVideoTime();
	  }

	  function onPlayerReady(event) {
	    document.getElementById('your-iframe').style.borderColor = '#FF6D00';
	  }
	  function changeBorderColor(playerStatus) {
	    var color;
	    if (playerStatus == -1) {
	      color = "#37474F"; // unstarted = gray
	    } else if (playerStatus == 0) {
	      color = "#FFFF00"; // ended = yellow
	    } else if (playerStatus == 1) {
	      color = "#33691E"; // playing = green
	    } else if (playerStatus == 2) {
	      color = "#DD2C00"; // paused = red
	    } else if (playerStatus == 3) {
	      color = "#AA00FF"; // buffering = purple
	    } else if (playerStatus == 5) {
	      color = "#FF6DOO"; // video cued = orange
	    }
	    if (color) {
	      document.getElementById('your-iframe').style.borderColor = color;
	    }
	  }
	  function onPlayerStateChange(event) {
	    changeBorderColor(event.data);
	  }

	  function getId(url) {
	    const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
	    const match = url.match(regExp);

	    return (match && match[2].length === 11)
	      ? match[2]
	      : null;
		}
	    
	  const videoId = getId('http://www.youtube.com/watch?v=zbYf5_S7oJo');
	  const iframeMarkup = '<iframe width="560" height="315" src="//www.youtube.com/embed/' 
	      + videoId + '" frameborder="0" allowfullscreen></iframe>';
	</script>
 {% endblock content %}